<div class="container" id="main-container">
  <div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="invoice-container">
            <div class="invoice-header">
            </div>
            <div class="invoice-list-body">
              <div class="row gutters">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="table-responsive">
                    <table class="table custom-table m-0">
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>Number</th>
                        <th>Year</th>
                        <th>Seller Name</th>
                        <th>Seller Piva</th>
                        <th>Buyer Name</th>
                        <th>Buyer Piva</th>
                        <th>EmissionDate</th>
                        <th>PaymentMethod</th>
                        <th>Installments</th>
                        <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let invoice of invoices">
                        <td>{{invoice.id}}</td>
                        <td>{{invoice.number}}</td>
                        <td>{{invoice.year}}</td>
                        <td>{{invoice.sellerUser.name}}</td>
                        <td>{{invoice.sellerUser.piva}}</td>
                        <td>{{invoice.buyerUser.name}}</td>
                        <td>{{invoice.buyerUser.piva}}</td>
                        <td>{{invoice.emissionDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{invoice.paymentMethod}}</td>
                        <td>{{invoice.installments}}</td>
                        <td>
                          <button type="button" class="delete" title="delete invoice"
                                  (click)="delete(invoice.id)">DEL
                          </button>
                          <button type="button" class="delete" title="delete invoice"
                                  (click)="modify(invoice)">MODIFY
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="invoice-body">
                <div class="row gutters">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                      <form (ngSubmit)="save()" [formGroup]="invoiceForm">
                        <table class="table custom-table m-0">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Number</th>
                            <th>Year</th>
                            <th>Seller Name</th>
                            <th>Seller Piva</th>
                            <th>Buyer Name</th>
                            <th>Buyer Piva</th>
                            <th>EmissionDate</th>
                            <th>PaymentMethod</th>
                            <th>Installments</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngIf="currentInvoice!=null">
                            <td>{{currentInvoice.id}}</td>
                            <td><input
                              type="number"
                              class="form-control"
                              id="number"
                              formControlName="number"
                              #number
                            ></td>
                            <td><input
                              type="number"
                              class="form-control"
                              id="year"
                              formControlName="year"
                              #year
                            /></td>
                            <td><form formGroupName="sellerUser"><input
                              type="text"
                              class="form-control"
                              id="name"
                              formControlName="name"
                              #name
                            /></form></td>                          
                            <td><form formGroupName="sellerUser"><input
                              type="text"
                              class="form-control"
                              id="sellePiva"
                              formControlName="piva"
                              #sellerPiva
                            /></form></td>
                              <td><form formGroupName="buyerUser"><input
                                type="text"
                                class="form-control"
                                id="buyerName"
                                formControlName="name"
                                #buyerName
                              /></form></td>
                              <td><form formGroupName="buyerUser"><input
                                type="text"
                                class="form-control"
                                id="nuyerPiva"
                                formControlName="piva"
                                #buyerPiva
                              /></form></td>
                            <td><input
                              type="text"
                              class="form-control"
                              id="emissionDate"
                              formControlName="emissionDate"
                              #paymentMethod
                            /></td>
                            <td><input
                              type="text"
                              class="form-control"
                              id="paymentMethod"
                              formControlName="paymentMethod"
                              #paymentMethod
                            /></td>
                            <td><input
                              type="checkbox"
                              [checked]="currentInvoice.installments"
                              class="form-control"
                              id="installments"
                              formControlName="installments"
                              #installments
                            ></td>
                          </tr>
                          </tbody>
                        </table>
                        <table class="table custom-table m-0" *ngIf="currentInvoice != null">
                          <thead>
                          <tr>
                            <th>Product ID</th>
                            <th>Single Price</th>
                            <th>Iva</th>
                            <th>Pieces</th>
                            <th>Expenses</th>
                            <th>Total</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of currentInvoice.order.items">
                            <td>{{item.product.name}}</td>
                            <td>{{item.product.price | currency}}</td>
                            <td>{{item.product.iva}}</td>
                            <td>{{item.pieces}}</td>
                            <td>{{item.ivaExpense | currency}}</td>
                            <td>{{item.totalExpense | currency}}</td>
                          </tr>
                          <tr>
                            <td colspan="4"></td>
                            <td>
                              <h5 class="text-success"><strong>{{currentInvoice.order.expense | currency}}</strong></h5>
                            </td>
                            <td>
                              <h5 class="text-success"><strong>{{currentInvoice.order.expense | currency}}</strong></h5>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary" data-cy="submit">Save</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="invoice-footer">
                GVG piva: xy123456789
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
